.project-disable {
  background-color: #959595;
}

.project-green {
  background-color: #4CE5BF;
}

.project-red {
  background-color: red;
}

.project-align-items-center {
  display: flex;
  align-items: center;
}

.project-circle {
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.project-padding-right {
  float:left;
  width:25%;
}

.project-last-row {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.project-row {
  padding: 10px;
}
